.titleHeading {
  font-size: 72px;
  line-height: normal;
}

@media screen and (max-width: 768px) {
  .titleHeading {
    font-size: 48px;
  }
}

.cardImg {
  margin-left: 6.7rem;
}

.footerCustom {
  margin: 0;
  padding: 0;
  padding-top: 200px;
}
